/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}


.text1 {
    color: #FD6E0A;
    font-size: 45px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* all buttons */
.btn1 {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    padding: 5px 10px;
}

.btn2 {
    border-radius: 5px;
    border-color: #FD6E0A;
    font-size: 20px;
    font-weight: 400;
    color: #FD6E0A;
    padding: 5px 10px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}



/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
}

.banner-caption {
    max-width: 500px;
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}

/* main section items */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section */
.about {
    background-color: #ffeada;
    margin: 130px;
    padding: 50px 120px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* .section-title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
} */

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
}

.skill {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/*resume section*/
.resume-column-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-institute,
.resume-item-description {
    color: #757575;

}

.download-cv{
    text-align: center;
    margin-top: 45px;
}



/*footer section*/
footer{
    display: flex;
    background-color: rgb(253, 208, 192);
    padding: 130px 150px;
    margin-top: 100px;
}

.footer-column{
    width: 50%;
    gap: 117px;
}

.social-links a{
    margin-right: 25px;
    size: 30px 30px;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 20px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
}
